.service-grid {
	align-content: start;
	display: grid;
	gap: 10px;
}

.service-grid-horizontal {
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.service-grid-vertical {
	grid-template-columns: 1fr;
}
