:root {
	--accent: #c03;
	--bg: white;
	--border: #dddfe4;
	--heading: system-ui, "Segoe UI", Roboto, sans-serif;
	--mono: ui-monospace, Consolas, monospace;
	--sans: system-ui, "Segoe UI", Roboto, sans-serif;
	--shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
	--text: #474c57;
	background: var(--bg);
	--accent-bg: rgba(204, 0, 51, 0.1);

	--code-bg: #f4f3ec;
	--social-bg: rgba(244, 243, 236, 0.5);
	--accent-border: rgba(204, 0, 51, 0.45);

	color: var(--text);
	color-scheme: light dark;
	font: 18px/145% var(--sans);
	-webkit-font-smoothing: antialiased;
	font-synthesis: none;
	--text-h: #11131a;
	letter-spacing: 0.18px;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;

	@media (max-width: 1024px) {
		font-size: 16px;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--accent: #ff4a75;
		--bg: #0f1218;
		--border: #242a35;
		--shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
		--text: #bac2cf;
		--accent-bg: rgba(255, 74, 117, 0.16);
		--code-bg: #1f2028;
		--social-bg: rgba(37, 42, 53, 0.65);
		--accent-border: rgba(255, 74, 117, 0.5);
		--text-h: #f3f4f6;
	}
}

#root {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-height: 100svh;
	width: 100%;
}

body {
	margin: 0;
}

h1,
h2 {
	color: var(--text-h);
	font-family: var(--heading);
	font-weight: 500;
}

h1 {
	font-size: 56px;
	letter-spacing: -1.68px;
	margin: 32px 0;
	@media (max-width: 1024px) {
		font-size: 36px;
		margin: 20px 0;
	}
}

h2 {
	font-size: 24px;
	letter-spacing: -0.24px;
	line-height: 118%;
	margin: 0 0 8px;
	@media (max-width: 1024px) {
		font-size: 20px;
	}
}

p {
	margin: 0;
}

code,
.counter {
	border-radius: 4px;
	color: var(--text-h);
	display: inline-flex;
	font-family: var(--mono);
}

code {
	background: var(--code-bg);
	font-size: 15px;
	line-height: 135%;
	padding: 4px 8px;
}
